<ion-header>
  <ion-toolbar class=" toolbar">
    <ion-title>TeLlevo<span>APP</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="item-content">
    <ion-item class="item">
      <ion-label position="floating">Usuario</ion-label>
      <ion-input placeholder="Nombre de usuario de Duoc " type="text" minlength="6" [(ngModel)]="user.name" required></ion-input>
    </ion-item>
    <ion-item class="item">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input placeholder="Ingrese su contraseña" type="password" minlength="8" maxlength="20" [(ngModel)]="user.password" required></ion-input>
    </ion-item>
  </div>
  <ion-button color="favorite" type="submit" class="center btn" (click)="onLogin('bottom')">Ingresar</ion-button>
  <div class="link">
    <a [routerLink]="['/recuperacion']">Recuperar Contraseña </a>
  </div>
<div class="logo-duoc">
    <img src="assets/icon/logo-duoc.png" alt="Duoc logo">
</div>




</ion-content>