<ion-header>
  <ion-toolbar class="#1a1a1a toolbar">
    <ion-title>TeLlevo<span>APP</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="item-content">
    <ion-item class="item">
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text" minlength="3" maxlength="8" [(ngModel)]="user" required></ion-input>
    </ion-item>
    <ion-item class="item">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" minlength="4" maxlength="4" [(ngModel)]="password" required></ion-input>
    </ion-item>
  </div>
  <ion-button color="favorite" type="submit" class="center btn" (click)="onLogin()">Ingresar</ion-button>
  <div class="link">
    <a [routerLink]="['/recuperacion']">Recuperar Contraseña </a>
  </div>
<div class="logo-duoc">
    <img src="assets/icon/logo-duoc.png" alt="Duoc logo">
</div>




</ion-content>