@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
.toolbar-color {
    background-color: #1a1a1a;
}

span {
    color: #ffb800;
}
ion-title {
    font-size: 2rem;
    padding: 1rem;
}
.toolbar {
    height: 10rem;
    text-align: center;
    display: flex;
}
.item-content {
    margin-top: 1rem;
}
.texto {
  display: flex;
    margin-left: 1rem;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
ion-text {
  margin-right: 1rem;
}
ion-card {
  padding: 0.5rem;
  margin: 0.5rem;
}
ion-card-header {
  padding-bottom: .5rem;
}

ion-card-title {
  font-size: 1rem;
}
ion-button {
  font-weight: bold;
}

ion-card-content {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.logo-duoc {

   padding-right: 2rem;
}