<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medio">TellevoAPP</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-card>
      <img src="/assets/conductor.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Tienes espacio en tu auto?</ion-card-subtitle>
        <ion-card-title> Lleva a tus compañeros</ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <section class="full-width">
          <ion-button expand="full" color="secondary"> Soy Conductor</ion-button>
        </section>

      </ion-card-content>
    </ion-card>

    <ion-card>
      <img src="/assets/Pasajero.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Vas devuelta a tu casa?</ion-card-subtitle>
        <ion-card-title> Pide un acercamiento </ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <section class="full-width">
          <ion-button expand="full" color="secondary"> Soy Pasajero</ion-button>
        </section>

      </ion-card-content>
    </ion-card>

div id="container">
    <ion-text class="texto-bienvenido center">Bienvenido! </ion-text>

    <ion-text>Usuario: {{nameUser}}</ion-text>
  </div>








</ion-content>
