<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title>TeLlevo<span>APP</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="item-content">
    <div class="texto">
      <ion-text> Bienvenido: </ion-text>
      <ion-text> {{nameUser}}</ion-text>
    </div>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Pide un acercamiento </ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
      <ion-button color="favorite" >Pasajero</ion-button>
      <img src="assets/icon/destination.png" alt="foto de destino">

      </ion-card-content>

    </ion-card>
    <ion-card>
      <img src="" alt="">
      <ion-card-header>
        <ion-card-title>Lleva a tus compañeros</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-button color="favorite">Conductor</ion-button>
        <img src="assets/icon/coche.png" alt="foto de un coche">
      </ion-card-content>
    </ion-card>




  </div>

 

  <div class="logo-duoc">
    <img src="assets/icon/logo-duoc.png" alt="Duoc logo">
  </div>

</ion-content>
