
  <ion-header  >
    <ion-toolbar>
      <ion-title size="medio" style="text-align:center">TellevoAPP</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content >



    <ion-card>
      <img src="/assets/conductor.jpg" />
      <ion-card-header>
        <ion-card-subtitle id="texto-card1">Tienes espacio en tu auto?</ion-card-subtitle>
        <ion-card-title id="texto-card2"> Lleva a tus compañeros</ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <section class="full-width">
          <ion-button [routerLink]="['/inicio']" expand="block" color="secondary"> Soy Conductor</ion-button>
        </section>

      </ion-card-content>
    </ion-card>

    <ion-card>
      <img src="/assets/Pasajero.jpg" />
      <ion-card-header>
        <ion-card-subtitle id="texto-card1">Vas devuelta a tu casa?</ion-card-subtitle>
        <ion-card-title id="texto-card2"> Pide un acercamiento </ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <section class="full-width">
          <ion-button [routerLink]="['/inicio']" expand="block" color="secondary"> Soy Pasajero</ion-button>
        </section>

      </ion-card-content>
    </ion-card>




</ion-content>
