<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button text="" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>TeLlevo<span>APP</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>

<!-- Footer -->

<ion-footer>
  <ion-toolbar>
    <ion-segment value="default" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="general">
        <mat-icon>home</mat-icon>
        <ion-label>General</ion-label>
      </ion-segment-button>
      <ion-segment-button value="perfil">
        <mat-icon> person_pin</mat-icon>
        <ion-label>Perfil</ion-label>
      </ion-segment-button>
      
    </ion-segment>
  </ion-toolbar>
</ion-footer>
