<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title>TeLlevo<span>APP</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text class="texto">
    <h1>Bienvenido de nuevo  </h1>
  </ion-text>

<ion-card >
  <ion-item >
    <ion-avatar slot="start">
      <img src="/assets/icon/avatar.png" />
    </ion-avatar>
    <ion-label>
      <h2>:Usuario:</h2>
      <h3>:NOMBRE CARRERA:</h3>
      <p> CONDUCTOR </p>
    </ion-label>
  </ion-item>

</ion-card>

  <section id="section" class="full-width">
    <ion-button color="warning" size="large"id="abrir-modal"expand="block" > <mat-icon> directions_car</mat-icon>  Agendar Viaje </ion-button>
  </section>

    <ion-text color="">
      <h1> Viajes agendados:  </h1>
    </ion-text>

    <ion-item color="medium"  id="btn-infoviaje" button  (click)="buttonClick()">
      <ion-label>
        Viaje 1 00/00/22 00:00 am/pm
      </ion-label>
    </ion-item>
    <ion-item color="dark" id="btn-infoviaje" button (click)="buttonClick()">
      <ion-label>
        Viaje 2 00/00/22 00:00 am/pm
      </ion-label>
    </ion-item>
    <ion-item color="medium" id="btn-infoviaje" button (click)="buttonClick()">
      <ion-label>
        Viaje 3 00/00/22 00:00 am/pm
      </ion-label>
    </ion-item>
    <ion-item color="dark" id="btn-infoviaje" button (click)="buttonClick()">
      <ion-label>
        Viaje 4 00/00/22 00:00 am/pm
      </ion-label>
    </ion-item>

  
</ion-content>

<!-- TABS -->
<ion-tab-bar slot="bottom" color="dark">
  <ion-tab-button button [routerLink]="['/home']" >
    <mat-icon>home</mat-icon>
    <ion-label>Regresar</ion-label>
  </ion-tab-button>

  <ion-tab-button>
    <mat-icon> person_pin</mat-icon>
    <ion-label>Perfil</ion-label>
  </ion-tab-button>

  <ion-tab-button >
    <mat-icon>favorite</mat-icon>
    <ion-label>Valoraciones</ion-label>
  </ion-tab-button>

</ion-tab-bar>

<!-- MODAL -->
<ion-modal  #modal trigger="abrir-modal" [enterAnimation]="enterAnimation" [leaveAnimation]="leaveAnimation">
  <ng-template>
    <ion-header >
      <ion-toolbar color="warning">
        <ion-buttons slot="start">
          <ion-button (click)="cancel()"><mat-icon>arrow_back</mat-icon>Regresar </ion-button>
        </ion-buttons>
        
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true"> Confirmar <mat-icon>done</mat-icon></ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content id="contenedor-viaje" color="dark" class="ion-padding">
      <ion-text color="">
        <h1>Indica los datos para tu viaje</h1>
      </ion-text>

      <div  class="item-content" color="dark">
        <ion-item id="inpt-viaje" class="item">
          
          <ion-label position="fixed"><mat-icon> edit_location</mat-icon> Ruta  </ion-label>
          <ion-input placeholder="calle/sector " type="text" > </ion-input>
          
        </ion-item>
        <ion-item id="inpt-viaje" class="item">
          
          <ion-label position="fixed"><mat-icon>date_range</mat-icon> Fecha </ion-label>
          <ion-input placeholder="00/00/22 " type="date" > </ion-input>
          
        </ion-item>
        <ion-item id="inpt-viaje" class="item">
          <ion-label position="fixed" ><mat-icon>access_time </mat-icon> Hora</ion-label>
          <ion-input placeholder="00:00 am/pm " type="number" ></ion-input>
        </ion-item>
        <ion-item id="inpt-viaje" class="item">
          <ion-label position="fixed"> <mat-icon> local_atm</mat-icon> Tarifa $</ion-label>
          <ion-input placeholder=" " type="text" ></ion-input>
        </ion-item>
        <ion-item id="inpt-viaje" class="item">
          <ion-label position="fixed"><mat-icon>person_add</mat-icon> Cupos</ion-label>
          <ion-input placeholder="capacidad de su vehiculo" type="number" ></ion-input>
        </ion-item>

      </div>
      

      

    </ion-content>
  </ng-template>
</ion-modal>
